nav {
  position: fixed;
  width: 100%;
  z-index: 31;


}

.nav-hide {
  transform: translateY(-100px);
  transition: transform .1s linear;
}

.pageup-show {
  display: block;

}

.head {
  &__logo-wrapper {
    display: flex;
    flex-direction: row;
  }

  &__logo-name {
    align-self: center;
    text-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    font-family: MyriadPro;
    font-size: 54px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $text-secod;

    a {
      color: $text-secod;
    }
  }

  &__search {
    align-self: center;
    margin-left: 29px;

    &:hover {

      svg {

        // width: 20px;
        // height: 20px;
        path {
          opacity: 1;
        }
      }
    }
  }

  &__background {
    min-height: 970px;
    // opacity: 0.6;
    // background: url("/img/intro/Animation_2S.gif") no-repeat 100%/cover;
    // background: url("/img/intro/Animation_2S.gif") no-repeat 100%/cover;
    // background-position: left top;
    // background-size: auto 100%;
    // background-repeat: no-repeat;
    // background-size: contain 
    // background: url("/img/intro/bg.jpg");
    // background-color: rgba(3, 71, 173, 0.6);

    // background-image: linear-gradient(rgba(5, 104, 252, 0.877), rgba(159, 197, 255, 0.6));
    ;
  }

  &__menu-background {

    background-color: $background-header;
    z-index: 5;
  }

  &__menu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  &__menu {
    display: inline-flex;
    list-style-type: none;
    margin-bottom: unset;
    height: 100%;
  }

  &__menu-item-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      z-index: 11;
      background-color: $main-menu-hover;
      border-bottom: 5px solid $main;
      zoom: 1.04;

      // &:after {
      //   content: "";
      //   border: 12px solid transparent;
      //   border-top: 10px solid $main;
      //   position: absolute;
      //   left: 50%;
      //   margin-left: -12px;
      //   bottom: -22px;
      //   width: 0;
      // }
    }


  }

  &__menu-item {
    width: inherit;
    height: inherit;
    list-style-type: none;

    a {
      align-items: center;
      width: inherit;
      height: inherit;
      display: flex;
      width: max-content;
      margin: 0 15px 0 15px;
    }

  }


  &__menu-link {
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $text-main;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $text-hover;
    }
  }
}

#head__logo-middle,
#head__logo-small {
  display: none;
}

.hamburger {
  display: none;
  width: inherit;
  height: inherit;
  cursor: pointer;

  &__div {
    margin-top: 37px;
  }

  &:hover {
    .hamburger__hover {
      background-color: $text-hover;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 70px;
    transform: translate(62px, 15px);
    background-color: $main
  }



  &__hover {
    display: block;
    background-color: $text-main;
    width: 30px;
    height: 3px;
    margin-top: 8px;
  }


}

// .hiddenmenu {
//   position: fixed;
//   top: 0;
//   left: -100%;
//   width: 100%;
//   height: 100vh;
//   z-index: 10;
//   visibility: hidden;
//   opacity: 0;
//   transition: all 0.6s;

//   // left: 0;
//   // visibility: visible;
//   // opacity: 1;
//   &.active {
//     left: 0;
//     visibility: visible;
//     opacity: 1;

//   }

//   &__block {
//     position: relative;
//     transition: all 0.6s;
//     width: 345px;
//     background-color: $main;
//     height: 100%;
//     padding-top: 140px;
//     padding-left: 40px;
//     z-index: 10;
//   }

//   &__close {
//     position: absolute;
//     top: 25px;
//     right: 25px;
//     cursor: pointer;

//     &:hover {
//       color: $main-menu-hover;
//     }

//     // background-color: $hidden-menu-text;
//   }

//   &__list {
//     list-style-type: none;
//     padding-left: 35px;
//   }

//   &__link {
//     position: relative;
//     text-align: left;
//     font-size: 28px;
//     margin-bottom: 15px;

//     // &::after {

//     // }

//     &:hover {
//       &::after {
//         content: '\2728';
//         position: absolute;
//         left: -39px;
//         top: 0px;
//         // width: 15px;
//         // height: 15px;
//         // border-radius: 100%;
//         // border: 1px solid $text-main;
//         transition: all 0.6s;

//       }

//     }

//     // img {
//     //   display: none;
//     //   z-index: 10;
//     //   // &.active {
//     //   //   //ddddddd
//     //   //   display: block;

//     //   // }
//     // }



//     // &::before {
//     //   content: '';
//     //   position: absolute;
//     //   left: -35px;
//     //   top: 12px;
//     //   width: 15px;
//     //   height: 15px;
//     //   border-radius: 100%;
//     //   border: 1px solid $text-main;
//     //   transition: all 0.6s;
//     // }
//     // &:hover {
//     //   &::before {
//     //     background-color: $text-main;
//     //   }

//     // }

//     a {
//       text-decoration: none;
//       color: $text-main;

//       &:hover {
//         color: $text-hover;
//       }
//     }
//   }

//   &__sotial {
//     position: absolute;
//     width: 120px;
//     left: 50%;
//     transform: translate(-50%);
//     bottom: 50px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     &_link {
//       max-width: 20px;

//       &:last-child {
//         margin-left: -11px;
//       }

//       &:hover {

//         svg path {
//           fill: $text-hover;
//         }
//       }
//     }
//   }

//   &__overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: $main-menu-hover;
//     opacity: 1;
//     z-index: 9;
//   }
// }