@media (max-width: 1920px) {
  .container {
    max-width: 1440px;
  }

}

@media (max-width: 1495px) {

  .footer {
    &__columns {
      &_descr {
        width: 99%;
      }
    }

    &__form {
      // margin-top: 191px;
      width: 100%;
      grid-template: 42px 42px 42px/repeat(2, auto);
      // justify-content: space-between;
      // row-gap: 50px;
      // column-gap: 25px;
    }
  }

  .costs {
    height: 906px;

    &__columns {
      &_item {
        margin-left: 0;
      }

      &_item {
        margin-left: 70px;

        &-name {

          &::before {
            height: 120px;
          }


        }
      }

      &_h2 {
        width: 100%;
      }

      img {
        position: relative;
        // margin: 0 auto;
        margin-top: 100px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &_item {
        &-hr {
          width: 100%;

        }
      }

      // &:nth-child(1) {
      //   margin-left: 10px;
      // }
    }
  }

  .migration {
    &__column {
      &:nth-child(2) {
        margin-left: 80px;
      }

      &:nth-child(3) {
        margin-left: 80px;
      }

      &:nth-child(4) {
        margin-left: 80px;
      }
    }

    &__grid {
      grid-template-columns: repeat(auto-fit, 579px);
      column-gap: 62px;
      grid-auto-rows: auto;

      &_element-progresbar-1::after {
        width: 340px;
      }

      &_element-progresbar-2::after {
        width: 400px;
      }

      &_element-progresbar-3::after {
        width: 454px;
      }

      &_element-progresbar-4::after {
        width: 245px;
      }
    }

    &__grid_element {

      img {
        object-fit: none;
        width: 100%;

      }

      &-descr {
        width: 100%;
      }

      &-header {
        width: 100%;
      }
    }
  }

  .services {
    &__column {
      &:nth-child(2) {
        margin-left: 70px;
      }

      &:nth-child(3) {
        margin-left: 70px;
      }
    }
  }

  .itmigration {
    &__imgbig {
      position: relative;
      margin: 0 auto;
      margin-top: 40px;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }

    &__hr {
      margin-left: 38px;
    }

    &__h1 {
      font-size: 46px;
      line-height: 63px;
    }
  }

  .services {
    margin-top: 380px;
  }

  .container {
    max-width: 1280px;
  }

  .services {
    &__btn {
      position: relative;
      margin-left: 0;
    }
  }

  .approach {
    &__btn {
      position: relative;
      margin-left: 0;
    }

    &__column {

      width: 50%;

      &_descr {
        width: 100%;

      }
    }
  }

  .menu {
    margin-left: 150px;

    &__contacts_phone {
      font-size: 18px;
      //   margin-left: 60px;
    }

    &_item {
      font-size: 14px;
      line-height: 19px;
      //   margin-left: 150px;
    }

    &__hr-under {
      width: auto;
    }
  }

  // .costs__columns col-md-6 {

  // }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1160px;
  }

  .costs {
    &__columns {

      &_item {
        margin-left: 50px;
      }

      img {

        // height: 700px;
      }
    }
  }

  .migration {
    &__column {
      &::before {
        transform: translate(-22px, -40px);
      }

      &:nth-child(2) {
        margin-left: 30px;
      }

      &:nth-child(3) {
        margin-left: 30px;
      }

      &:nth-child(4) {
        margin-left: 30px;
      }
    }

    &__grid {
      grid-template-columns: repeat(auto-fit, 539px);
      column-gap: 58px;
      grid-auto-rows: auto;

      &_element-progresbar-1::after {
        width: 300px;
      }

      &_element-progresbar-2::after {
        width: 359px;
      }

      &_element-progresbar-3::after {
        width: 413px;
      }

      &_element-progresbar-4::after {
        width: 204px;
      }
    }
  }

  .services {
    margin-top: 310px;

    &__column {
      margin-left: 30px;

      &:nth-child(2) {
        margin-left: 30px;
      }

      &:nth-child(3) {
        margin-left: 6px;
      }

      &::before {
        transform: translate(-28px, -40px);
      }
    }
  }

  .itmigration {
    &__hr {
      margin-left: 0px;
    }

    &__h1 {
      width: 783px;
    }
  }

  .menu {
    margin-left: 150px;

    &__contacts_phone {
      font-size: 18px;
      margin-left: 35px;
    }

    &_item {
      font-size: 14px;
      line-height: 19px;
      padding-left: 40px;

      &:first-child {
        padding-left: 0px;
      }
    }
  }
}

@media (max-width: 1173px) {
  .costs {
    &__columns {

      &_item {
        margin-left: 35px;
      }

      img {
        object-fit: cover;
        width: 520px;
        height: 520px;
      }

    }
  }

  // nav {
  //     display: flex;
  //     justify-content: space-around;
  // }
  .migration {
    &__column {
      width: 205px;

      &_descr {
        width: 100%;
      }

      // &::before {
      //   transform: translate(-22px, -40px);
      // }
      // &:nth-child(2) {
      //   margin-left: 30px;
      // }
      // &:nth-child(3) {
      //   margin-left: 30px;
      // }
      // &:nth-child(4) {
      //   margin-left: 30px;
      // }
    }

    &__grid {

      grid-template-columns: repeat(auto-fit, 510px);
      column-gap: 40px;

      // grid-auto-rows: auto;
      &_element-progresbar-1::after {
        width: 271px;
      }

      &_element-progresbar-2::after {
        width: 331px;
      }

      &_element-progresbar-3::after {
        width: 383px;
      }

      &_element-progresbar-4::after {
        width: 175px;
      }

      &_element {
        img {
          height: 319px;
        }
      }
    }
  }

  .itmigration {
    &__col-2 {
      margin-left: 26px;
    }

    &__h1 {
      width: 752px;
    }
  }

  .menu {
    margin-left: 80px;


    &_item {

      padding-left: 40px;

      &:first-child {
        padding-left: 0px;
      }
    }
  }

  .services {

    &__column {
      &_descr {
        width: 347px;
      }

      margin-left: 8px;

      &:nth-child(2) {
        margin-left: 8px;
      }

      &:nth-child(3) {
        margin-left: 8px;
      }

      &::before {
        transform: translate(-28px, -40px);
      }
    }
  }
}

@media (max-width: 1103px) {

  .footer {
    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__form {
      margin-top: 40px;
    }

    &__columns {

      width: 100%;

    }

  }

  .costs {
    &__columns {
      &_h2 {
        margin-bottom: 30px;
      }

      &_item {
        margin-left: 30px;
      }

      img {

        width: 420px;
        height: 520px;
      }

    }
  }

  .migration {

    &__grid {

      grid-template-columns: repeat(auto-fit, 417px);
      column-gap: 40px;

      // grid-auto-rows: auto;
      &_element-progresbar-1::after {
        width: 178px;
      }

      &_element-progresbar-2::after {
        width: 237px;
      }

      &_element-progresbar-3::after {
        width: 290px;
      }

      &_element-progresbar-4::after {
        width: 83px;
      }

      &_element {
        img {
          height: 296px;
        }
      }
    }
  }

  .approach {
    &__h2 {
      height: 100%;
    }
  }

  .services {

    &__column {
      width: 33%;

      &_descr {
        width: 347px;
        width: 85%;
      }

      margin-left: 8px;

      &:nth-child(2) {
        margin-left: 8px;
      }

      &:nth-child(3) {
        margin-left: 8px;
      }

      &::before {
        transform: translate(-28px, -40px);
      }
    }
  }

  .background__header {

    height: 849px;
  }

  .container {
    max-width: 940px;
  }

  .itmigration {
    &__hr {
      margin-left: 46px;
    }

    &__col-2 {
      margin-left: 60px;
    }

    &__prev {
      margin-top: 60px;
    }

    &__h1 {
      width: 522px;
      height: 252px;
      // margin-bottom: 15px;
      margin-top: 20px;
    }
  }

  .menu {
    display: none;

    &__contacts_phone {
      margin-left: 420px;
    }

  }

  .hamburger {
    display: block;

  }
}

@media (max-width: 963px) {
  .container {
    max-width: 876px;
  }

  .costs {
    height: 935px;

    &__columns {

      &_item {
        margin-left: 30px;
      }

      img {
        width: 380px;
        height: 520px;
      }

    }
  }

  .migration {

    &__grid {

      grid-template-columns: repeat(auto-fit, 350px);
      column-gap: 25px;

      // grid-auto-rows: auto;
      &_element-progresbar-1::after {
        width: 112px;
      }

      &_element-progresbar-2::after {
        width: 170px;
      }

      &_element-progresbar-3::after {
        width: 225px;
      }

      &_element-progresbar-4::after {
        width: 14px;
      }

      &_element {

        img {
          height: 250px;
        }
      }

      &_element:nth-child(1) {
        margin-bottom: 0;
      }

      &_element:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }

  .itmigration {
    &__h1 {
      width: 427px;
    }
  }

  .menu {

    &__contacts_phone {
      margin-left: 335px;
    }

  }

  //   nav {
  //       display: flex;
  //       justify-content: space-between;
  //   }
}

@media (max-width: 861px) {

  .costs {
    min-height: 1193px;

    &__columns {
      &_item:first-child {
        margin-top: 69px;
      }

      &_item {
        margin-left: 0;

        &-name::before {

          height: 90px;
        }
      }

      width: 100%;
      // &_item {
      //   margin-left: 30px;
      // }

      img {
        display: none;
      }

    }
  }

  .approach {
    min-height: 1046px;

    &__column_progressbar-4 {
      width: 225px;
    }

    &__h2 {
      width: auto;
    }

    &__h2 {
      margin-right: 20px;
    }


  }



  .services {
    margin-top: 238px;
  }

  .menu {

    &__contacts_phone {
      margin-left: 245px;
    }

  }

  .itmigration {
    &__hr {
      margin-left: 0;
    }

    &__h1 {
      width: 409px;
      font-size: 42px;
    }

    &__col-2 {
      margin-left: 32px;
    }
  }

  .footer__columns_h2 {
    margin-top: 65px;
  }

}

@media (max-width: 767px) {

  .hiddenmenu {
    &__block {
      width: 293px;
      padding-left: 33px;
    }

    &__link {
      font-size: 23px;
    }

  }

  .migration {
    &__head {
      flex-direction: column;
      // position: relative;
    }

    #migration__btn {


      margin-top: 20px;
    }

    &__grid {
      display: block;
      flex-wrap: wrap;
      margin: 0 auto;

      //   grid-template-columns: repeat(auto-fit,650px);
      //   column-gap: 0;
      // // grid-auto-rows: auto;
      &_element-progresbar-1::after {
        width: 40vw;
      }

      &_element-progresbar-2::after {
        width: 170px;
      }

      &_element-progresbar-3::after {
        width: 225px;
      }

      &_element-progresbar-4::after {
        width: 14px;
      }

      &_element {

        img {
          // object-fit: cover;
          // height: 500px;

          position: relative;
          margin: 0 auto;
          margin-top: 30px;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

    }
  }

  .approach {
    min-height: 1260px;

    &__row {
      min-height: 415px;
    }

    &__head {
      flex-direction: column;
      // position: relative;
    }

    #approach__btn {


      margin-top: 20px;
    }

    &__column_progressbar-4 {
      width: 209px;
    }
  }

  .services {

    min-height: 768px;

    &__head {
      flex-direction: column;
    }

    #services__btn {

      margin-top: 20px;

    }

  }

  .menu {

    &__contacts_phone {
      margin-left: 180px;
    }

  }

  .itmigration {
    &__hr {
      display: none;
    }

    &__h1 {
      width: 100%;
      height: 100%;
      line-height: 57px;
    }

    &__container {
      flex-direction: column;
    }

    &__anypoint {
      margin-top: 40px;

    }

    &__descr {
      width: 100%;
    }

    &__col-2 {
      margin-left: 0;
    }

    &__arrows {
      margin-top: 32px;
      margin-bottom: 38px;
    }
  }

}

@media (max-width: 702px) {

  .menu {

    &__contacts_phone {
      margin-left: 95px;
    }

  }

  .background__header {

    height: 912px;
  }

}

@media (max-width: 670px) {

  .approach {
    &__column_progressbar-4 {
      width: 157px;
    }
  }

  .services {
    &__h2 {
      width: 100%;
    }
  }

  .costs {
    min-height: 1249px;

    &__columns {
      &_item {

        &-name::before {

          height: 120px;
        }
      }


    }
  }

  .migration {
    &__columns {
      flex-wrap: wrap;
    }

    &__column {
      margin-top: 120px;
      width: 210px;

      &_descr {
        width: 100%;
      }

      &:nth-child(3) {
        margin-left: 40px;
      }

    }
  }
}

@media (max-width: 644px) {
  .container {
    max-width: 580px;
  }

  .footer {
    &__wraper {
      display: flex;
      flex-direction: column;
      margin: 60px auto 60px auto;
    }

    &__polycy {
      margin-top: 20px;
      text-align: center;
    }
  }

  .menu {

    &__contacts_phone {
      margin-left: 45px;
    }

  }


  // .itmigration {
  //   &__imgbig {

  //     object-fit: cover;
  //     width: 580px;
  //     height: 580px;
  //   }
  // }
}


@media (max-width: 567px) {
  .costs {
    min-height: 1256px;
  }

  .services {
    &__columns {
      flex-wrap: wrap;
    }

    &__column {
      margin-top: 20px;
      width: 48%;

      &_descr {

        height: 100%;
      }
    }

    // &__head {
    //   height: 100%;
    // }
    &__h2 {
      width: 100%;
      height: 100px;
      text-align: center;

    }

    margin-top: 201px;

    #services__btn {
      display: block;
      margin: 0 auto;
      margin-top: 20px;

    }
  }

  .approach {
    min-height: 1834px;

    &__h2 {
      font-size: 36px;
      line-height: 49px;
      text-align: center;
    }

    #approach__btn {

      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }

    &__row {

      flex-direction: column;
    }

    &__column {
      display: block;
      margin: 0 auto;
      width: 100%;

      &:nth-child(1) {


        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 95%;
          height: 2px;
          transform: translate(0px, 30px);
          background-color: $balsamic-reduction
            /* balsamic-reduction */


            // transform: rotate(-180deg);
        }
      }

    }

    &__column:nth-child(even) {
      margin-left: auto;

      &::before {
        display: none;
      }
    }
  }

  .menu {
    &__hr {
      display: none;
    }

    &__icon {
      margin-left: 0;
    }

    &__logo_img {
      margin: 0 auto;
      margin-top: 37px;
      margin-left: 0;
    }

    &__contacts_phone {
      display: none;
    }

  }

  .itmigration {
    &__h1 {
      font-size: 36px;
    }
  }

}

@media (max-width: 530px) {

  .costs {
    &__columns {
      &_btn {
        display: block;
        margin: 0 auto;
        // margin-top: 70px;
      }

      &_h2 {
        text-align: center;
      }
    }


  }

  .services {
    &__btn {
      display: block;
      margin: 0 auto;
      margin-top: 70px;
    }
  }

  .migration {

    &__head_second {
      flex-direction: column;
      // position: relative;
    }

    &__h2 {
      display: block;
      margin: 0 auto;
    }

    #migration__btn-second {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }

    &__columns {
      display: block;
      margin: 0 auto;
    }

    &__column {
      display: block;

      margin-top: 120px;
      width: 210px;

      img {
        display: block;
        margin: 0 auto;
      }

      &_descr {
        width: 100%;
      }

      &::before {
        display: none;
      }

      &:nth-child(1) {
        margin: 0 auto;
        margin-top: 120px;

        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          width: 290px;
          transform: translate(-42px, 54px);
          background-color: $titanium-white;

        }
      }

      &:nth-child(2) {
        margin: 0 auto;
        margin-top: 120px;

        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          width: 290px;
          transform: translate(-42px, 74px);
          background-color: $titanium-white;

        }
      }

      &:nth-child(3) {
        margin: 0 auto;
        margin-top: 120px;

        &::after {
          content: "";
          display: block;
          position: absolute;
          height: 2px;
          width: 290px;
          transform: translate(-42px, 50px);
          background-color: $titanium-white;

        }
      }

      &:nth-child(4) {
        margin: 0 auto;
        margin-top: 120px;
      }

    }
  }
}

@media (max-width: 512px) {

  .costs {
    &__columns {
      &_btn {
        margin-top: 70px;
      }

    }
  }

  .footer {
    &__copyright {
      text-align: center;
    }

    &__input {
      input {
        outline: none;
        padding: 10px 0px;

      }
    }

    &__textarea {
      textarea {
        // padding-bottom:-10;
        // padding-top: 0;
        outline: none;
      }
    }

    &__policy {
      margin-top: 20px;
      text-align: center;
    }

    &__triggers {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__form {
      display: flex;
      flex-direction: column;

    }

    &__columns {
      &_h2 {
        text-align: center;
      }

      &_descr {
        text-align: center;
        height: 100%;
      }

    }

    // &__wraper {
    //   display: flex;
    //   flex-direction: column;
    //   margin: 60px auto 60px auto;
    // }

  }
}

@media (max-width: 503px) {
  .services {
    margin-top: 153px;

    &__h2 {
      font-size: 36px;
      line-height: 49px;
    }
  }

  .costs {
    min-height: 1295px;
  }

}

@media (max-width: 441px) {

  .services {
    &__column_head::after {
      display: none;
    }

    &__redsquare {
      display: block;

    }

    &__column {
      margin-top: 20px;
      width: 100%;

      &_head {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      &_descr {
        margin-top: 55px;
        width: 100%;
        height: 100%;

      }
    }
  }
}

@media (max-width: 398px) {


  .costs {
    min-height: 1466px;

    &__columns_item-name::before {
      height: 150px;
    }

    &__columns {
      &_h2 {
        font-size: 36px;
      }

      &_btn {
        width: 255px;
        height: 56px;
      }

    }
  }
}

@media (max-width: 345px) {
  #menu__logo_img-hidden {
    display: block;
    position: absolute;
    margin-left: 75px;
  }

  #menu__icon-hidden {
    display: block;
    position: absolute;
    margin-left: 10px;
  }

  .hamburger {
    position: absolute;
    margin-left: 150px;

    &::before {
      display: none;
    }
  }

  #menu__logo_img {
    display: none;
  }

  #menu__icon {
    display: none;
  }

  .costs {
    min-height: 1528px;

  }

  .menu {
    &__logo_img {
      width: 120px;
      height: 34px;
    }
  }

  .itmigration {
    &__h1 {
      font-size: 32px;
      text-align: center;
    }

    &__prev {
      text-align: center;
    }

    &__anypoint {
      text-align: center;
    }

    &__slash {
      display: block;
      margin: 0 auto;
      margin-top: 30px;
    }

    &__descr {
      text-align: center;
    }

    &__arrows {
      text-align: center;
    }

    &__imgbig {
      width: 290px;
      height: 290px;
      object-fit: cover;
    }
  }


}

@media (max-width: 334px) {
  .background__header {
    height: 989px;
  }

  .costs {
    &__columns_item-name::before {
      height: 180px;
    }
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 290px;
  }
}
